body {
    /* skin */
    font-family: "times new roman", times, serif;
}

.title {
    /* skin */
    margin-top: 4%;
    margin-left: 5%;
    height: 20%;
    display: block;
}

.title .title__image{
    /* position */
    display: inline-block;

    /* skin */
    height: 3rem;
    width: auto;
}

.title .title__tag {
    /* position */
    display: inline-block;
    position: relative;
    left: 10%;

    /* shin */
    height: 4rem;
    width: auto;
}

.title .title__tag .title__tag--content {
    /* position */
    display: inline-block;

    /* skin */
    height: 4rem;
    margin-left: 3rem;
}

.content {
    /* position */
    display: block;

    /* skin */
    width: 70%;
    height: 80%;
    margin: 5rem auto; 
}

.content .content__article {
    /* position */
    display: block;
    float: left;

    /* skin */
    margin-top: 15%;
    width: 40%;
}

.content .content__article .content__article--title {
    /* position */
    display: block;
    float: top;

    /* skin */
}

.content .content__article .content__article--content {
    /* position */
    display: block;

    /* skin */
    margin-top: 5%;
    width: 80%;
    height: auto;
    font-size: 1.4rem;
}

.content .content__image {
    /* position */
    display: inline-block;
    position: relative;

    /* skin */
    margin-left: 6%;
    width: 50%;
    height: auto;
}