body {
    /* skin */
    font-family: "times new roman", times, serif;
}

.title {
    /* skin */
    margin-top: 3rem;
    margin-left: 3rem;
    display: block;
}

.title .title__image{
    /* position */
    display: inline-block;

    /* skin */
    height: 3rem;
    width: auto;
}

.title .title__tag {
    /* position */
    display: inline-block;
    position: relative;
    left: 10%;

    /* shin */
    height: 4rem;
    width: auto;
}

.title .title__tag .title__tag--content {
    /* position */
    display: inline-block;

    /* skin */
    height: 4rem;
    margin-left: 3rem;
}

.content {
    /* position */
    display: block;
}

.content .content__article {
    /* position */
    display: inline-block;

    /* skin */
    margin-left: 5%;
    width: 40%;
}

.content .content__article .content__article--title {
    /* position */
    display: block;
}

.content .content__article .content__article--content {
    /* position */
    display: block;
    width: 15rem;
    height: auto;
}

.content .content__image {
    /* position */
    display: inline-block;
    width: 30rem;
    height: auto;
}