body {
    /* skin */
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    font-family: "times new roman", times, serif;
}

.title {
    /* position */
    display: block;

    /* skin */
    margin-top: 4%;
    margin-left: 5%;
    height: 20%;
}

.title .title__image{
    /* position */
    display: inline-block;

    /* skin */
    height: 3rem;
    width: auto;
}

.title .title__tag {
    /* position */
    display: inline-block;
    position: relative;
    left: 10%;

    /* shin */
    height: 4rem;
    width: auto;
}

.title .title__tag .title__tag--content {
    /* position */
    display: inline-block;

    /* skin */
    height: auto;
    margin-left: 3rem;
    font-size: 1.5rem;
}

.title .title__tag .tag__about--line {
    /* position */
    display: inline-block;
    z-index: -1;

    /* skin */
    margin-left: -5.6rem;
    margin-block-end: -.5rem;
    height: auto;
    width: 5.5rem;
    border-bottom: solid .8rem rgba(184, 181, 200, 0.5);
}

.title .title__logo {
    /* position */
    display: block;
    float: right;

    /* skin */
    margin-right: 8%;
    height: 5rem;
    width: auto;
}

.content {
    /* position */
    display: block;

    /* skin */
    width: 100%;
    height: auto;
    padding-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    /*
    border-bottom: solid 3rem rgba(184, 181, 200, 0.9);
    */
}

.content .content__article {
    /* position */
    display: block;
    float: left;

    /* skin */
    margin-top: 15%;
    margin-left: 15%;
    width: 35%;
}

.content .content__article .content__article--title {
    /* position */
    display: block;
    float: top;

    /* skin */
}

.content .content__article .content__article--content {
    /* position */
    display: block;

    /* skin */
    margin-top: 5%;
    width: 80%;
    height: auto;
    font-size: 1.4rem;
}

.content .content__image {
    /* position */
    display: inline-block;
    position: relative;

    /* skin */
    margin-left: 3%;
    margin-top: 5%;
    width: 35%;
    height: auto;
}

.bottom__line {
    z-index: -2;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom: solid 3rem rgba(184, 181, 200, 0.9);
}